/* .duck {
  border: 10px solid black;
  padding: 1em;
  margin: 1em;
}

.male {
  background-color: rgb(72, 148, 219);
  border-radius: 10px;
}

.female {
  background-color: rgb(168, 255, 17);
  border-radius: 10px;
} */
